<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

{{ partial "head.html" . }}

<body lang="en">

<header class="navigation">
  <div class="left">
    <div id="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
  </div>
  <div class="right">
    <a href="{{ .Ref "about/index.md" }}">About</a>
    <a href="https://github.com/ijanos">GitHub</a>
    <a href="https://www.goodreads.com/ijanos">Goodreads</a>
    <a href="https://www.last.fm/user/ijanos">Last.FM</a>
    <a href="post/index.xml" type="application/rss+xml" target="_blank">RSS</a>
  </div>
</header>