<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
{{ partial "head.html" . -}}
<body lang="en">
 <header class="navigation">
   <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
   <ul class="menu">
     <li><a href="{{ .Ref "about/index.md" }}">About</a></li>
     <li><a href="https://github.com/ijanos">GitHub</a></li>
     <li><a href="https://www.goodreads.com/ijanos">Goodreads</a></li>
     <li><a href="https://www.last.fm/user/ijanos">Last.FM</a></li>
   </ul>
 </header>
