{{- partial "header.html" . -}}
<section class="frontpage">
    <h1> Welcome! </h1>
    <p>
        Hi, I'm János and this is my blog.
        You can find the latest blog posts and all the tags on this page.
    </p>
  <section class="posts">
    <header>
      <h1>recent posts</h1>
      <a class="rsslink" href="post/index.xml" type="application/rss+xml" target="_blank">RSS</a>
    </header>
    <div class="list">
      {{- range first 4 (where .Data.Pages "Section" "post") }}
        {{- .Render "item" }}
      {{- end }}
    </div>
    <a hr href="/post">more</a>
  </section>
  <section class="tags">
    <h1>tags</h1>
    <div>
      {{- range $name, $taxonomy := .Site.Taxonomies.tags }}
        <a class="tag" href="/tags/{{ $name | urlize }}">{{ $name }}</a>
      {{- end }}
    </div>
  </section>
</section>
{{- partial "footer.html" . }}
