{{- partial "header.html" . }}

<section class="frontpage">

	<section class="posts">
		<h1>blog posts</h1>
		<div class="list">
			{{- range where .Data.Pages "Section" "post" }}
          {{- .Render "item" }}
      {{- end }}
		</div>
	</section>

	<section class="tags">
		<h1>tags</h1>
		<div>
			{{- range $name, $taxonomy := .Site.Taxonomies.tags }}
			  <a class="tag" href="/tags/{{ $name | urlize }}">{{ $name }}</a>
      {{- end }}
		</div>
	</section>

</section>

{{- partial "footer.html" . }}